.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formulario div {
  width: 100%;
}

.formulario .label-grande {
  width: 50%;
  display: inline-block;
  text-align: right;
}

.formulario .linha-formulario {
  margin-bottom: 15px;
}