body {
  margin: 0px;
}

.cabecalho {
  background: linear-gradient(45deg, #fff, #3f51b5);
  padding: 15px;
}

.cabecalho img {
  width: 25%;
}

.menu {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.menu a {
  text-decoration: none;
  font-weight: bold;
  color: blue;
  margin-right: 15px;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid blue;
  padding: 5px;
}