body {
  margin: 0px;
  font-family: Montserrat, sans-serif;
  color: #000;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: inherit;
  color: #fff;
  font-size: 1.5em;
  line-height: 1.2em;
  font-weight: 400;
  letter-spacing: 0.6em;
  text-transform: uppercase;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: inherit;
  color: #fff;
  font-size: 5.6em;
  line-height: 1.1em;
  font-weight: 700;
  letter-spacing: 0.12;
}

h3 {
  margin-top: 20px;
  margin-bottom: 110px;
  color: #4b1f4f;
  font-size: 2.5em;
  line-height: 30px;
  font-weight: 800;
  letter-spacing: 0.1em;
}

.hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  max-height: 800px;
  padding-bottom: 70px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('images/divisao-hero.svg'), url('images/imagem-hero.jpg');
  background-position: 50% 101%, 50% 50%;
  background-size: 100%, cover;
  background-repeat: no-repeat, repeat;
}

.container {
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.container .colums-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-itens: center;
  -ms-flex-align: center;
  align-items: center;
}

.container.hero-container {
  width: 85%;
}

.hero-contents-wrapper {
  width: 34vw;
  margin-left: auto;
}

.btn {
  padding: 11px 25px;
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
  border-radius: 100px;
  background-color: transparent;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 2px;
  text-decoration: none;
  display: inline-block;
}

.btn.no-border {
  padding-right: 35px;
  padding-left: 35px;
  margin-top: 15px;
  border-width: 0px;
}

.hero-subtitle {
  margin-bottom: 35px;
}

.work-section {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #f1f1f3;
  background-image: url('images/MEUSTRABALHOS.svg');
  background-position: 100% 0%;
  background-size: 50vw;
  background-repeat: no-repeat;
}

.works-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 45px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

.work {
  position: relative;
  width: 31%;
  height: 20vw;
  margin-right: 0.5vw;
  margin-bottom: 1vw;
  margin-left: 0.5vw;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.work.one {
  background-image: url('images/trabalho-um.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.work.two {
  background-image: url('images/trabalho-dois.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.work.three {
  background-image: url('images/trabalho-tres.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.work.four {
  background-image: url('images/trabalho-quatro.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.work.five {
  background-image: url('images/trabalho-cinco.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.work.six {
  background-image: url('images/trabalho-seis.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.work-cover {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 35px;
  background-color: rgba(87, 25, 82, 0.83);
  opacity: 0;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.work:hover .work-cover {
  opacity: 1;
}
